* {
margin:0;
padding:0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }

  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }  
img {
    height:200px;
    width: 350px;
    
    display: inline-block;
}
body {
    background-color: #E5E5E5;
}
.menu{
    background-color:#111111;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    margin-left: 500px;
    margin-right: 415px;
    margin-top: 5px;
    }
.menu ul{
    list-style: none;
    margin: 0px;;
    padding: 0px;
    display: inline-block;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    color:white;
    display: inline-block;
    text-decoration: none;
    padding: 15px; 
}
.menu ul li a:hover {
    background-color:#B2B1B1;
}
.objetivo{
    background-color: #99BBCC;
    
    
    line-height: 1.7;
    padding: 20px;
    text-align: justify;
}
h1{
    margin-left: 120px;
    margin-top: 50px;
    margin-bottom: 15px;  
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
h2{
    margin-left: 120px;
    margin-top: 50px;
    margin-bottom: 20px;   
}
.autoras {
    background-color:#99BBCC;
    margin-right: 80px;
    line-height: 1.6;
    text-align: justify;
    padding: 20px;
    margin-bottom: 100px;
    
}
h3 {
    margin-left: 20px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.fotos {
    display: inline-block;
    width: 200px;
    height: 200px;
    
       
}
.fotos:hover {
    transform:scale(0.9);
}
.fotos{
    transition: all 0.5s ease;
}

.recomendacion{
    background-color:#668899;
    margin-right: 80px;
    margin-left: 120px;
    line-height: 1.6;
    
    text-align: justify;
    padding: 20px;
    margin-bottom: 100px;
}
ul, li{
    list-style-type: none;
    

}

.listas{
    float: left;
    width: 50%;
}
footer{
    background-color: black;
    color: white;
    clear: both;
    height: 180px;
    
}
.pie{
    margin-left: 50px;
    padding-top: 30px;
}
.visita{
    text-decoration: none;
    color: white;
    margin-left: 60px;
    padding-top: 30px;
}
.redes li{
    display: inline;
    
}
.redes{
    width: 20%;
}
.facebook{
    width: 35px;
    height: 35px; 
}
.insta{
    width: 35px;
    height: 35px; 
  
}
.youtube{
    width: 35px;
    height: 35px; 
    
}
.insta:hover {
    transform:scale(0.9);
    transition: all 0.5s ease;
}
.facebook:hover {
    transform:scale(0.9);
    transition: all 0.5s ease;
}
.youtube:hover {
    transform:scale(0.9);
    transition: all 0.5s ease;
}


